<%= comments.count %>件コメント
  <h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
  <% comments.first(2).each do |comment| %> <!-- 1 -->
    <% unless comment.id.nil? %> <!-- 2 -->
      <li class="comment-container list-unstyled">
        <div class="comment-box">
          <div class="comment-avatar">
            <%= attachment_image_tag comment.staff, :profile_image_id, fallback: "no_image1.jpg", class:"comment-image", size: "40x40" %>
          </div>
          <div class="comment-text">
            <p>@<%= comment.staff.last_name %><%= comment.staff.first_name %></p>
          </div>
          <div class="comment-entry">
            <%= comment.comment %>
            <%# 管理者がコメントを削除するためのコントローラのアクションを呼び出す %>
          </div>
          <span class="comment-date pull-right">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </span>
        </div>
        <% comment.replies.each do |reply| %>
        <div class="comment-text">
          <%= reply.reply %>
          <% if comment.staff == current_staff || comment.admin == current_admin %> <!-- 3 -->
            <%= link_to admin_comment_reply_path(reply.comment_id, reply.id), method: :delete, remote: true, class:"comment_destroy" do %> <!-- 4 -->
              <i class="fas fa-trash-alt" style="color: black;"></i>
            <% end %> <!-- 4 -->
          <% end %> <!-- 3 -->
        </div>
        <% end %>
      </li>
    <% end %> <!-- 2 -->
  <% end %> <!-- 1 -->
  <!-- コメント内容(3件目以降) ------------>
  <div class="collapse" id="collapseExample">
    <% comments.offset(2).each do |comment| %> <!-- 5 -->
      <% unless comment.id.nil? %> <!-- 6 -->
        <li class="comment-container list-unstyled">
          <div class="comment-box">
            <div class="comment-avater">
              <%= attachment_image_tag comment.staff, :profile_image_id, fallback: "no_image1.jpg", class:"comment-image", size: "40x40" %>
            </div>
            <div class="comment-text">
              <p>@<%= comment.staff.last_name %><%= comment.staff.first_name %></p>
              <div class="comment-entry">
                <%= comment.comment %>
                <%# 管理者がコメントを削除するためのコントローラのアクションを呼び出す %>
              </div>
              <span>
                <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              </span>
            </div>
          </div>
          <% comment.replies.each do |reply| %>
          <div class="comment-text">
          <%= reply.reply %>
          <% if comment.staff == current_staff || comment.admin == current_admin %> <!-- 3 -->
            <%= link_to admin_comment_reply_path(reply.comment.id, reply.id), method: :delete, remote: true, class:"comment_destroy" do %> <!-- 4 -->
              <i class="fas fa-trash-alt" style="color: black;"></i>
            <% end %> <!-- 4 -->
          <% end %> <!-- 3 -->
          </div>
          <% end %>
        </li>
      <% end %> <!-- 6 -->
    <% end %> <!-- 5 -->
  </div>