<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text3x1 text-2x1 font-medium title-font mt-4 mb-4 text-gray-900">Bookmark</h1>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">タイトル</th>
            <th scope="col">投稿日</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @bookmarks.each do |bookmark| %>
          <tr>
            <th scope="row"></th>
            <td><%= attachment_image_tag bookmark.information, :image, fallback: "no_image1.jpg", class:"comment-image", size: "40x40" %></td>
            <td><%= bookmark.information.title %></td>
            <td><%= bookmark.information.created_at %></td>
            <td></td>
            <td><%= link_to "詳細", information_path(bookmark.information.id), class:"btn btn-dark" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @bookmarks %>
    </div>
  </div>
</div>