  <!-- コメント内容(2件) ------------>
  <ul>
    <li class="comment-create list-unstyled">
      <h6 class="text-left title">コメント</h6>
    </li>
    <li class="list-unstyled">
     <%= comments.count %>件コメント
     <h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
    </li>
  <% comments.first(2).each do |comment| %> <!-- 1 -->
    <% unless comment.id.nil? %> <!-- 2 -->
      <li class="container list-unstyled">
        <div class="row">
          <div class="col-3">
            <%= attachment_image_tag comment.staff, :profile_image, fallback: "no_image1.jpg", class:"comment-image", size: "40x40" %>
            <p>@<%= comment.staff.last_name %><%= comment.staff.first_name %></p>
            <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
          </div>
          <div class="col-8">
            <%= comment.comment %>
          </div>
          <div class="col-1">
          <% if comment.staff == current_staff || comment.admin == current_admin %> <!-- 3 -->
              <%= link_to information_comment_path(comment.information_id, comment.id), method: :delete, remote: true, class:"comment_destroy" do %> <!-- 4 -->
                <i class="fas fa-trash-alt" style="color: black;"></i>
              <% end %> <!-- 4 -->
            <% end %> <!-- 3 -->
        </div>
        <% comment.replies.each do |reply| %>
          <div class="comment-text">
            <%= reply.reply %>
          </div>
        <% end %>
      </li>
    <% end %> <!-- 2 -->
  <% end %> <!-- 1 -->
  </ul>
  <!-- コメント内容(3件目以降) ------------>
  <ul class="collapse" id="collapseExample">
    <% comments.offset(2).each do |comment| %> <!-- 5 -->
      <% unless comment.id.nil? %> <!-- 6 -->
        <li class="container list-unstyled">
          <div class="row">
            <div class="col-3">
              <%= attachment_image_tag comment.staff, :profile_image, fallback: "no_image1.jpg", class:"comment-image", size: "40x40" %>
              <p>@<%= comment.staff.last_name %><%= comment.staff.first_name %></p>
              <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
            </div>
            <div class="col-8">
              <%= comment.comment %>
            </div>
            <div class="col-1">
              <%= link_to information_comment_path(comment.information_id, comment.id), method: :delete, remote: true, class:"comment_destroy" do %>
                <i class="fas fa-trash-alt" style="color: black;"></i>
              <% end %>
            </div>
          </div>
          <% comment.replies.each do |reply| %>
          <div class="comment-text">
          <%= reply.reply %>
          </div>
        <% end %>
        </li>
      <% end %> <!-- 6 -->
    <% end %> <!-- 5 -->
  </ul>