<h6>連絡投稿一覧画面</h6>
<div class="container">
  <div class="text-right">
    <%= link_to new_admin_information_path do %>
      <button type="button" class="btn btn-dark rounded-circle p-0 mb-5" style="width:4rem;height:4rem;">＋</button>
    <% end %>
  </div>
  <div class="row mt-10">
    <div class="col-md-10 mx-auto">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">投稿日</th>
            <th scope="col">投稿者</th>
            <th scope="col">タイトル</th>
            <th scopr="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @informations.each do |information| %>
          <tr>
            <th scope="row"></th>
            <td><%= information.created_at %></td>
            <td><%= information.admin.name %></td>
            <td><%= information.title %></td>
            <td><%= link_to "詳細", admin_information_path(information), class:"btn btn-dark" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>