<%= form_with model: @information, url: admin_informations_path, local:true do |f| %>
<div class="container">
  <div class="card-container">
    <div class="card-body">
      <h5 class="card-title text-center mb-2">新規連絡作成</h5>
      <hr class="mb-5">
      <%= f.attachment_field :image %>
      <form>
        <div class="form-group">
          <div class="input-group">
              <h6>Title</h6>
            </div> <!-- input-group.// -->
          </div> <!-- form-group// -->
        <div class="form-group">
          <div class="input-group">
            <%= f.text_field :title, class:"form-control" %>
          </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
          <div class="form-group">
            <div class="input-group">
                <h6>Message</h6>
            </div> <!-- input-group.// -->
          </div> <!-- form-group// -->
        <div class="form-group">
          <div class="input-group">
            <%= f.text_area :message, class:"form-control" %>
          </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
          <div class="form-group">
            <%= f.submit '投稿', class:"btn btn-outline-secondary btn-block" %>
          </div>
      </form>
    </div>
  </div>
</div>
<% end %>