<div class="col-md-10 col-md-offset-1 mx-auto informationShow-wrap">
  <div class="row information-wrap">
    <div class="col-md-8">
      <div class="card-left">
        <%= attachment_image_tag @information, :image, width: "80%" %>
      </div> <!-- col-md-8// -->
    </div> <!-- card-left// -->
    <div class="col-md-4">
      <div class="card-right">
        <div class="card-right-message">
          <div class="card-right-title">
            <strong>
              <%= @information.title %>
            </strong>
          </div> <!-- card-right-title// -->
          <div class="m-2">
            <%= @information.message %>
          </div> <!-- m-2// -->
          <div class="m-2">
              <p><%= link_to "削除する", admin_information_path(@information), method: :delete, data: { confirm: "本当に投稿を削除しますか？" }, class:"btn btn-outline-secondary btn-block" %></p>
              <p><%= link_to "編集する", edit_admin_information_path(@information), class:"btn btn-outline-secondary btn-block" %></p>
              <p><%= link_to "コメント済み一覧", commented_admin_informations_path(@information), class:"btn btn-outline-secondary btn-block" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>