<div class="container">
    <div class="row">
        <div class="col-lg-2">
          <div class="text-center">
            <%= attachment_image_tag @staff, :profile_image, fallback: "no_image1.jpg", class:"comment-image mt-5", size: "60x60" %>
          </div>
            <h6 class="text-center bg-light mt-2">名前</h6>
            <h6 class="text-center"><%= @staff.last_name %><%= @staff.first_name %></h6><br />
            <h6 class="text-center bg-light mt-2">メールアドレス</h6>
            <h6 ><%= @staff.email %></h6>
            <% if @staff.is_deleted? %> <!-- 既にデータがあるためis_deletedでtrue, falseを呼び出すことができる -->
            <p class="mt-5"><%= link_to "退会を外す", admin_staff_path(@staff), method: :delete, data: { confirm: "スタッフの退会を解除しますか？" }, class:"btn btn-dark btn-block" %></p>
            <% else %>
            <p class="mt-5"><%= link_to "退会", admin_staff_path(@staff), method: :patch, data: { confirm: "本当にスタッフを削除しますか？" }, class:"btn btn-outline-secondary btn-block" %></p>
            <% end %>
        </div>
        <div class="col-lg-5">
            <h6 class="text-center text-dark bg-light p-1 mb-5 mt-5">チェック済一覧</h6>
            <table class="table">
                <thead class="thead-dark">
                   <tr>
                       <th scope="col"></th>
                       <th scope="col"></th>
                       <th scope="col">タイトル</th>
                       <th scope="col"></th>
                   </tr>
                </thead>
                <tbody>
                  <% @info_checked.each do |information| %>
                    <tr>
                        <th scope="row"></th>
                        <td><%= attachment_image_tag information, :image, fallback: "no_image1.jpg", class:"comment-image", size: "40x40" %></td>
                        <td><%= information.title %></td>
                        <td scope="row"><%= link_to "詳細", admin_information_path(information), class:"btn btn-dark" %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
        <div class="col-lg-5">
            <h6 class="text-center text-dark bg-light p-1 mb-5 mt-5">未チェック一覧</h6>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">タイトル</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @info_unchecked.each do |information| %>
                  <tr>
                    <th scope="col"></th>
                    <td><%= attachment_image_tag information, :image, fallback: "no_image1.jpg", class:"comment-image", size: "40x40" %></td>
                    <td><%= information.title %></td>
                    <td scope="col"><%= link_to "詳細", admin_information_path(information), class:"btn btn-dark" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
</div>
